body {
  background-color: #29293d;
  color: #a6a6a6;
  font-family: Arial, Helvetica, sans-serif;
}

.regulardiv {
  background-color: #52527a;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}



header {float:left;}
nav {float:right;}
#yield-container {clear:both;}

.warnings {
  background-color: #ff704d;
  color: white;
  width: auto;
  padding: 5px;
  border-radius: 8px;
}
.warnings a {
  color: #b3e0ff;
  text-decoration: underline;
}
