
<h2>Current stops available for subscription:</h2>


<% @stops.each do |stop| %>
  <%= stop.name %><br>
  <% if session[:user_id] %>
    <% subtothis = stop.subscriptions.find_by(user_id: session[:user_id]) %>
    <% if subtothis %>
    <!--if the user is subscribed-->
      <form action='/subscriptions/<%= subtothis.id %>' method="post">
      <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="stop_id" value=<%= stop.id %>>
        <input type="submit" value="Unsubscribe">
      </form>
    <% else %>
      <form action='/subscriptions' method="post">
        <input type="hidden" name="stop_id" value=<%= stop.id %>>
        <input type="submit" value="Subscribe">
      </form>

    <% end %>
  <% end %>
<% end %><!-- end of stops loop -->
