<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div id="content">
  <h1><a href="/">Heading!</a></h1>
  <nav>

    <% if session[:user_id] %>
      <a href="/users/<%= session[:user_id] %>">my profile</a>
      <form action="/users/logout" method="post">
        <input type="submit" value="log out">
      </form>
    <% else %>
      <a href="/users/new">register</a>
      <a href="/users/login">log in</a>
    <% end %>

  </nav>






  <%= yield %>
</div>
</body>
</html>
