<form action='/suggestions' method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="start_time" placeholder="start_time">
  <input type="text" name="end_time" placeholder="end_time">
  <input type="submit" value="Suggest event">
</form>
